[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
uvicorn = "*"
requests = "*"

[dev-packages]
pytest = "*"
isort = "*"
black = "*"
flake8 = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
